@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chevron-up::after {
  content: '▲';
}

.chevron-down::after {
  content: '▼';
}

.heatmap-cell {
  transition: transform 0.3s;
}

.heatmap-cell:hover {
  transform: scale(1.05);
}
.heatmap-bubble {
  transition: transform 0.3s;
}

.heatmap-bubble:hover {
  transform: scale(1.05);
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-orange {
  color: orange;
}

/* global.css */
.min-h-screen {
  min-height: 100vh;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.p-6 {
  padding: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-light {
  font-weight: 300;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-left {
  text-align: left;
}

.pt-24 {
  padding-top: 6rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.max-w-half {
  max-width: 50%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;

}

.overflow-x-auto {
  overflow-x: auto;
}

.divide-y {
  border-collapse: collapse;
}

.divide-gray-700 > tbody > tr > td {
  border-top: 1px solid #4a5568;
}

.bg-transparent {
  background-color: transparent;
}

.hover\:bg-gray-700:hover {
  background-color: #4a5568;
}

.hover\:bg-opacity-25:hover {
  background-color: rgba(74, 85, 104, 0.25);
}

.text-xs {
  font-size: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* Additional styles for the new design */
header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

header p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2rem;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-size: 1.25rem;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

thead {
  background-color: #333;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

tbody tr:hover {
  background-color: #444;
}

tfoot {
  background-color: #222;
}

tfoot td {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.md\\:flex-row {
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.space-y-6 > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.md\\:space-y-0 > :not(:last-child) {
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.md\\:space-x-6 > :not(:last-child) {
  @media (min-width: 768px) {
    margin-right: 1.5rem;
  }
}

.flex-1 {
  flex: 1;
}

/* Add these styles to your existing globals.css */
.text-common {
  font-size: 16px; /* Adjust the size as needed */
  font-family: Arial, sans-serif; /* Use the same font as in bar chart */
  color: white; /* Adjust the color if needed */
}

/* Add these styles to your globals.css file */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300; /* Lighter font weight for thinner text */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; /* Thinner font weight for headers */
}

p, a {
  font-weight: 300; /* Thinner font weight for paragraphs and links */
}

a {
  text-decoration: none;
}

.amm-info-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .amm-info-summary {
    flex-direction: row;
  }
}

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.legend-item span {
  color: white;
  font-size: 14px;
}

.currency-amounts-container {
  /* width: 100%; */
  /* max-width: 400px;  Adjust to desired maximum width */
  /* height: 200px;     Adjust to desired height */
  overflow: hidden;
}

/* Ensure this CSS is included in your stylesheet */
.amm-actions-container {
  margin-left: 0px; /* Adjust this value as needed to shift the component to the left */
  margin-right: 50px; /* Adjust this value as needed to shift the component to the left */
}


/* BarChartCard specific styles */
.bar-chart-card {
  padding-top: 0px;  /* Default padding */
  padding-bottom: 0px;  /* Default padding */
  padding-left: 0px;  /* Default padding */
  padding-right: 0px;  /* Default padding */
  margin: 0px;   /* Default margin */
}

/* AmmInfoCurrencyAmounts specific styles */
.currency-amounts-container {
  padding-top: 0px;  /* Default padding */
  padding-right: 0px;  /* Default padding */
  margin-left: 0px;   /* Default margin */
  margin-right: 0px;   /* Default margin */
}

/* Card specific styles */
.card-container {
  padding: 20px;  /* Default padding */
  margin: 10px;   /* Default margin */
  margin-left: 0px; /* Adjust this value as needed to shift the component to the left */
  margin-right: 150px; /* Adjust this value as needed to shift the component to the left */
}

/* Summary specific styles */
.summary-left-container {
  padding: 0px;  /* Default padding */
  margin: 0px;   /* Default margin */
}

.summary-right-container {
  padding: 20px;  /* Default padding */
  margin: 10px;   /* Default margin */
}
